<section class="pg-section" id="connect">
	<div class="container">
		<h2>Connect</h2>
		<h3>Write</h3>
		<a href="mailto:anna@theatrum.design" class="btn btn-primary">email</a>
		<h3>Meet</h3>
		<a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3CFh3dyXPoWyXQoZidKq6ZtqHCPVAwnAmG-nfngninCxWnCUoj0PxYP93nhE3xC389bH4Bv16h?gv=true" target="_blank">schedule</a>
		<h3>Social</h3>
		<ul>
			<li><a href="https://linkedin.com/in/annabananajennings" target="_blank">linkedin</a></li>
			<li><a href="https://www.instagram.com/annabananajennings/" target="_blank">instagram</a></li>
			<li><a href="https://behance.net/annajennings" target="_blank">behance</a></li>
			<li><a href="https://codepen.io/annabananajennings" target="_blank">codepen</a></li>
			<li><a href="https://github.com/abananaj" target="_blank">github</a></li>
			<li><a href="https://www.pinterest.com/theatrumaj/" target="_blank">pinterest</a></li>
			<li><a href="https://github.com/abananaj" target="_blank">tumblr</a></li>
			<li><a href="https://behance.net/annajennings" target="_blank">behance</a></li>
			<li><a href="https://codepen.io/annabananajennings" target="_blank">codepen</a></li>
		</ul>
	</div>
</section>