<div id="theatre">
  <section class="past-productions py-5 container d-flex align-items-center justify-content-center">
    <div class="pp-wrapper">
      <div class="bg-mouse-track" id="bg-mouse-track"></div>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=1" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=2" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=3" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=4" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=5" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)" class="pp-card">
        <div class="pp-card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
          </svg>
          <img src="https://picsum.photos/300/200?random=6" alt="">
          <div class="pp-card-text">
            <h3>title</h3>
            <h4>role</h4>
            <h5>org</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae. Convallis convallis tellus id interdum velit laoreet id. Varius quam quisque id diam vel quam. Sed adipiscing diam donec adipiscing tristique risus. Viverra nam libero justo laoreet sit amet cursus sit. Risus feugiat in ante metus dictum at tempor. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Aliquet sagittis id consectetur purus ut. Odio facilisis mauris sit amet massa vitae tortor. Bibendum at varius vel pharetra vel turpis nunc eget lorem. In vitae turpis massa sed elementum. Sollicitudin ac orci phasellus egestas tellus.</p>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>