$burgundy-black: #060506;
$tiber: #003333;
$blue-stone: #006664;
$black-rose: #660033;
$paprika: #990032;
$blue-smoke: #6b8584;
$athens-gray: #f0f2f5;
$gorse: #ffeb3b;
$amber: #ffbe00;

#theatre {
  $space: 20px;
  $radius: 5px;
  background-color: $burgundy-black;
  color: $athens-gray;

  .past-productions {
    .pp-wrapper {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media screen and (max-width: 575px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      .bg-mouse-track {
        background-color: $gorse;
        border-radius: 5px;
        position: absolute;
        transition: all 0.4s ease-in-out;
        opacity: 0;
      }
      .pp-card {
        text-decoration: none;
        color: $athens-gray;
        position: relative;
        padding: $space / 2;
        svg {
          position: absolute;
          width: 50px;
          fill: $gorse;
          top: $space;
          right: $space;
          opacity: 0%;
        }
        .pp-card-inner {
          border: 1px solid $blue-stone;
          width: 100%;
          height: 100%;
          border-radius: $radius;
          overflow: hidden;
          background-color: $tiber;
          position: relative;
          z-index: 50;
          height: 100%;
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            opacity: 50%;

            @media screen and (max-width: 575px) {
              width: 100%;
              height: auto;
            }
          }
          .pp-card-text {
            padding: $space;
          }
          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          h3,
          h4,
          h5,
          h6,
          p {
            opacity: 80%;
            transition: 300ms;
          }
        }

        /*  ON CARD HOVER */
        &:hover {
          .pp-card-inner {
            position: relative;
            z-index: 20;
            h3,
            h4,
            h5,
            h6,
            p {
              opacity: 100%;
              transition: 300ms;
            }
          }
        }

        /* ON CARD ZOOM */
        &.zoomed {
          transition: height 300ms;
          p {
            -webkit-line-clamp: unset;
          }
          .pp-card-inner {
            overflow: auto;
            transition: 300ms;
            img {
              position: relative;
              height: auto;
              width: 100%;
              opacity: 50%;
            }
          }
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

// .opacity-0 {
//   opacity: 0;
// }
// .overflow {
//   overflow: hidden;
//   .background {
//     opacity: 0 !important;
//   }
// }
