<div class="sidebarNav">
  <nav>
    <div class="btn btnOpen"><i class="bi bi-arrow-bar-left"></i></div>
    <div class="btn btnClose"><i class="bi bi-x-circle"></i></div>
    <ul class="mainmenu">
      <li><a href="index.html">home</a></li>
      <!-- 	ABOUT -->
      <li>
        <a href="about.html">about</a>
      </li>
      <!-- 	Contact -->
      <li>
        <a href="">contact</a>
        <ul class="submenu">
          <li><a href="mailto:anna@theatrum.design">email</a></li>
          <li><a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3CFh3dyXPoWyXQoZidKq6ZtqHCPVAwnAmG-nfngninCxWnCUoj0PxYP93nhE3xC389bH4Bv16h?gv=true" target="_blank">schedule</a></li>
          <!-- <li><a href="bio.html">Bio</a></li> -->
          <!-- <li><a href="./resumes.html">Resumes</a></li> -->
          <!-- <li><a href="#">Curriculum Vitae</a></li> -->
        </ul>
      </li>
      <!-- 	WEB -->
      <li>
        <a href="web.html">web</a>
        <ul class="submenu">
          <li>visual design</li>
          <li>frontend development</li>
          <li><a href="https://theatrum.design" target="_blank">Theatrum Mundi</a></li>
          <!-- <li><a href="/media/jennings-resume-web.pdf">Design/Dev Resume</a></li>
          <li><a href="web/" target="_blank">Services</a></li>
          <li><a href="https://theatrum.design/projects.html" target="_blank">Web Projects</a></li> -->
        </ul>
      </li>
      <!-- 	THEATRE -->
      <li>
        <a href="theatre.html">theatre</a>
        <ul class="submenu">
          <li>Directing</li>
          <li>Dramaturgy</li>
          <li>Producing</li>
        </ul>
      </li>
      <!-- 	THEATRE -->
      <li>
        <a href="writing.html">writing</a>
        <!-- <ul class="submenu">
          <li><a href="./writing.html">Published</a></li>
          <li><a href="./writing/thesis.html">MFA Thesis</a></li>
          <li><a href="https://abstractdepressionism.blog" target="_blank">Abstract Depressionism Blog</a></li>
        </ul> -->
      </li>
      <!-- 	OTHER -->
      <li>
        <a href="">misc</a>
        <ul class="submenu">
          <li><a href="https://linkedin.com/in/annabananajennings" target="_blank">linkedin</a></li>
          <li><a href="https://www.instagram.com/annabananajennings/" target="_blank">instagram</a></li>
          <li><a href="https://behance.net/annajennings" target="_blank">behance</a></li>
          <li><a href="https://codepen.io/annabananajennings" target="_blank">codepen</a></li>
          <li><a href="https://github.com/abananaj" target="_blank">github</a></li>
          <li><a href="https://www.pinterest.com/theatrumaj/" target="_blank">pinterest</a></li>
          <li><a href="https://github.com/abananaj" target="_blank">tumblr</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>