.feature-container {
  font-family: "meursault-variable",serif;
  font-variation-settings: 'wdth' 100, 'wght' 200;
  font-optical-sizing: auto;
  background:#000;
  svg {
  width:100%;
  height:100vh;
  cursor: pointer;
}
}

