.hero {
  height: 100%;
  background-color: #061616;
}

#nameMorph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  #aj2,
#aj3,
#aj4 {
  visibility: hidden;
}
path {
  fill: #990032;
}
}