// Strawberry Velvet: https://colordesigner.io/color-palette-builder#990033-660033-F0F2F5-003333-006664
$burgundy-black: #060506;
$tiber: #003333;
$blue-stone: #006664;
$black-rose: #660033;
$paprika: #990032;
$blue-smoke: #6b8584;
$athens-gray: #f0f2f5;