<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect | Anna Jennings</title>
    @@include('./partials/_head.html')
</head>

<body>
    <!-- IMPORT NAVBAR/HEADER -->
    @@include('./partials/_nav.html')

    <!-- IMPORT MAIN PAGE CONTENT -->
    <main>
        @@include('./sections/_connect.html')
    </main>

    <!-- IMPORT FOOTER -->
    @@include('./partials/_footer.html')
</body>

</html>