<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna Jennings</title>
    @@include('./partials/_feedbucket.html')
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- IMPORT NAVBAR/HEADER -->
        @@include('../components/header/index.html')

    <!-- IMPORT MAIN PAGE CONTENT -->
    <main>
        @@include('./sections/_web.html')
    </main>

    <!-- IMPORT FOOTER -->
    @@include('./partials/_footer.html')
    <script src="scripts.js"></script>
</body>

</html>