<div id="web">
  <h3>web projects</h3>
<section class="web-projects">
  <div class="card">
<!--     <div class="bg-img" style="background-image: url(https://picsum.photos/200/300?random=1)"></div> -->
    <img src="https://picsum.photos/200/300?random=1" alt="random image" class="bg-img">
    <div class="content">
      <h4 class="title">Project</h4>
      <p class="copy">Description</p>
      <a href="#" class="btn">View Website</a>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200/300?random=2" alt="random image" class="bg-img">
    <div class="content">
      <h4 class="title">Project</h4>
      <p class="copy">Description</p>
      <a href="#" class="btn">View Website</a>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200/300?random=3" alt="random image" class="bg-img">
    <div class="content">
      <h4 class="title">Project</h4>
      <p class="copy">Description</p>
      <a href="#" class="btn">View Website</a>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200/300?random=4" alt="random image" class="bg-img">
    <div class="content">
      <h4 class="title">Project</h4>
      <p class="copy">Description</p>
      <a href="#" class="btn">View Website</a>
    </div>
  </div>
</section>
</div>